.form {
    background-color: #7f60ba;
    width: 20rem;
    padding: 1rem;
}

.form label {
    display: block;
    font-weight: bold;
    color: #eadbfb;
    margin-bottom: .5rem;
}

.form input, textarea {
    background-color: #b79fd3;
    border-radius: 6px;
    border: none;
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    color: #28262c;
}

.button {
    color: #2a2630;
    background-color: #b79fd3;
    font-weight: bold;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: #8c6cf7;
}

.actions {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 1rem;
}