.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10%;
    border-bottom: 2px solid #ece1fa;
    text-align: center;
}

.logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #ece1fa;
}

.button {
    color: #2a2630;
    background-color: #a990fb;
    font-weight: bold;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #8c6cf7;
}