.form {
    background-color: #7f60ba;
    width: 20rem;
    padding: 1rem;
}

.form label {
    display: block;
    font-weight: bold;
    color: #eadbfb;
    margin-bottom: .5rem;
}

.form input, textarea {
    background-color: #b79fd3;
    border-radius: 6px;
    border: none;
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    color: #28262c;
}
